{% extends "base.html" %}

{% block main_content %}
<h2>Bienvenue sur LicenceInfoLyon1 (LIL1)</h2>

<p>
    Je suis un ancien étudiant de la licence informatique de l’université Lyon 1. Pendant mes années de formation, j’ai moi aussi galéré à comprendre certaines matières, à trouver des bons supports, ou à m’organiser entre les projets, les TP et les partiels.
</p>

<p>
    Alors j’ai décidé de créer ce site pour rassembler ce que j’ai fait, appris ou galéré à comprendre : résumés de cours, explications, exemples de code, fiches de révision… Tout est ici, à portée de clic.
</p>

<p>
    L’objectif est simple : <strong>aider les autres étudiants</strong> de cette licence à mieux suivre les cours, à réviser plus efficacement, ou simplement à comprendre ce qui est parfois mal expliqué ailleurs.
</p>

<p>
    Que tu sois en L1, L2 ou L3, j’espère que tu trouveras ici un coup de pouce, un raccourci, ou même une vraie motivation pour aller plus loin.
</p>

<p><strong>Bon courage et bonne chance !</strong> 🎓💪</p>


{% endblock %}