{%extends "base.html" %}

{%block main_content %}
<h2>À propos de LicenceInfoLyon1 (LIL1)</h2>

<p>
    Je m'appelle <strong>Ramdane</strong>, et ce site est le fruit de plusieurs années de galères… et de progrès !</p>

<p>En tant qu’ancien étudiant en licence informatique à Lyon 1, j’ai décidé de créer <italic>LicenceInfoLyon1</italic> non seulement pour aider les autres, mais aussi pour<strong> mettre en pratique mes compétences</strong> en développement web, en bases de données, et en ergonomie.</p>

<p>Tout a été fait à la main : rédaction des contenus, structuration des pages, choix des modules, mise en forme… C’est un projet personnel, mais aussi un <strong> exercice concret</strong> qui m’a permis de combiner mes apprentissages en informatique avec mon envie de partager.</p>

<p>Je ne prétends pas tout savoir, mais je sais ce que c’est de galérer. Si ce site peut t’éviter de perdre du temps, ou t’aider à y voir plus clair, alors il aura déjà rempli son rôle.</p>

<p>Ce site <strong>évoluera</strong>, au fil de mes idées, de vos retours, et de mon temps libre. Merci de le visiter, et n’hésite pas à me contacter si tu veux contribuer, corriger, ou juste discuter.
</p>

<button style="align-items: center;"><a href="/contact/">Contact</a></button>


{%endblock%}