{% extends "base.html" %}

{% block main_content %}
<section>
    <h2>Licence 1 Informatique</h2>

    <p>
        Cette page regroupe des notes, explications et résumés personnels sur certaines UE que j’ai suivies en première année de licence informatique à Lyon 1.
    </p>
    
    <p>
        Il ne s’agit pas d’un aperçu complet de toutes les UE : j’ai simplement repris celles que j’ai eu le temps ou l’envie de retravailler ici.
        C’est un travail personnel, libre, à prendre comme un coup de main ponctuel, pas comme un cours officiel ou une hiérarchie entre les matières.
    </p>
    
    <p>
        Si ça peut t’aider à mieux comprendre une notion, à revoir un point de cours ou à préparer un devoir, tant mieux.
    </p>
    
    <p><strong>Bon courage pour ta L1, et n’oublie pas : chaque petit effort compte.</strong></p>
    
</section>


<section>
    <div class="ue-buttons">
        <a href="/L1/unix"><button>UNIX (Linux)</button></a>
        <a href="/L1/algorithmique"><button>Algo & Prog Impérative</button></a>
        <a href="/L1/lifami"><button>Applications Math/Info</button></a>
        <a href="/L1/recursif"><button>Algo & Prog Récursive</button></a>
    </div>
</section>


{%endblock %}
