{% extends "base.html" %}

{% block main_content %}

<h2>Licence 3 informatique</h2>

<p>Cette page présente les différentes Unités d'Enseignement (UE) de la Licence 3 en informatique à Lyon 1. Chaque UE est décrite avec ses objectifs, son contenu et ses prérequis.</p>

<section>
    <div class="ue-buttons">
        <a href="L3/lifpca"><button>Programation Concurente</button></a>
        <a href="./L3"><button>Bases de Données Avancées</button></a>
        <a href="./L3"><button>Réseaux et Sécurité</button></a>
        <a href="L3/lifweb"><button>Programation Web</button></a>
        <a href="L3/lifpoo"><button>Programation Orientée Objet</button></a>
    </div>
</section>

{%endblock %}