{% extends "base.html" %}

{% block main_content %}

<section>
<h2>Licence 2 Informatique</h2>

<p>
    Cette page regroupe des notes, explications et résumés personnels sur certaines UE que j’ai suivies en deuxième année de licence informatique à Lyon 1.
</p>
<p>
    Il ne s’agit pas d’un aperçu complet de toutes les UE : j’ai simplement repris celles que j’ai eu le temps ou l’envie de retravailler ici.
    C’est un travail personnel, libre, à prendre comme un coup de main ponctuel, pas comme un cours officiel ou une hiérarchie entre les matières.
</p>
<p>
    Si ça peut t’aider à mieux comprendre une notion, à revoir un point de cours ou à préparer un devoir, tant mieux.
</p>
<p><strong>Bon courage pour ta L2, et n’oublie pas : chaque petit effort compte.</strong></p>
<p>
    <strong>Note :</strong> Je n'ai pas encore eu le temps de mettre à jour cette page pour la L2, mais je vais le faire dès que possible.
</p>
<p>
    En attendant, tu peux consulter les notes de L1, qui contiennent des informations utiles pour la L2.
</p>

</section>


<section>
    <div class="ue-buttons">
        <a href="L2/lifapsd"><button>Algo & Prog Structure de Données</button> </a>
        <a href="L2/lifarchi"><button>Architecture des Ordinateurs</button></a>
        <a href="L2/stat"><button>Stats pour l'Informatique</button></a>
        <a href="L2/lifapcd"><button>Conception & Développement d'Application</button></a>
        <a href="L2/bdw"><button>Base de Données pour le Web</button></a>
        <a href="L2/pf"><button>Programation fonctionnelle</button></a>
        <a href="L2/lifse"><button>Système d'Exploitation</button></a>
    </div>
</section>

{%endblock %}